.page-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: var(--header-footer-background-color);
}

.address {
	font-style: normal;
	margin-top: 20px;
}

.address__link {
	color: var(--primary-white-color);
	text-decoration: none;
	transition-property: color;
	transition: color var(--transition-duration-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.address__button {
	color: var(--contacts-text-color);
	text-decoration: none;
	transition-property: color;
	transition: color var(--transition-duration-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.social-list__link_color_white {
	color: var(--primary-white-color);
	background-color: var(--icon-social-background-color);
	transition-property: background-color;

	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}

.subcription-form__input {
	height: 50px;
	padding: 15px 16px;
	@include font($fs: 16px, $lh: 20px);
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
	background-color: var(--header-footer-background-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	transition-property: box-shadow;
	transition: box-shadow var(--transition-duration-function);

	&:focus {
		box-shadow: var(--primary-button-shadow);
	}

	&::placeholder {
		@include font($fs: 16px, $lh: 20px);
		letter-spacing: 0.03em;
		color: var(--contacts-text-color);
	}
}

.subcription-form__button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 28px;

	color: var(--primary-white-color);
	background-color: var(--accent-color);
	transition-property: background-color, box-shadow;

	&:hover,
	&:focus {
		background-color: var(--primary-button-accent-color);
		box-shadow: var(--primary-button-shadow);
	}
}

.page-footer__container {
	display: flex;
}

@media screen and (max-width: 767px) {
	.page-footer__container {
		flex-direction: column;
	}

	.subcription-form__input {
		width: 100%;
	}
}

@media screen and (max-width: 1199px) {
	.page-footer__container {
		gap: 60px;
	}

	.page-footer__contacts-info,
	.page-footer__join,
	.page-footer__subcription {
		text-align: center;
	}

	.address__item + .address__item {
		margin-top: 8px;
	}

	.subcription-form__input {
		margin-bottom: 20px;
	}

	.subcription-form__button {
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.page-footer__container {
		align-items: baseline;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.page-footer__container {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.subcription-form__input {
		min-width: 450px;
	}
}

@media screen and (min-width: $desktop) {
	.page-footer__container {
		justify-content: space-between;
	}

	.address__item + .address__item {
		margin-top: 9px;
	}

	.subcription-form {
		display: flex;
	}

	.subcription-form__input {
		width: 358px;
		margin-right: 12px;
	}
}