@media screen and (max-width: 1199px) {
	.functions-section {
		display: none;
	}
}

.functions-section {
	padding-top: 0;
}

.functions-section__list {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.functions-section__item {
	flex-basis: calc((100% - 3 * 30px) / 3);
	margin: 15px;
}

.functions-section__thumb {
	position: relative;
}

.functions-section__description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 27px 0;
	color: var(--primary-white-color);
	background-color: var(--lable-background-color);
	@include font(14px, 700, 16px);
	text-align: center;
	text-transform: uppercase;
}
