.hero-section {
	max-width: 480px;
	height: 400px;
	padding: 118px 0;
	margin: 0 auto;

	background-color: var(--hero-background-color);
	text-align: center;

	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../../images/studio/mobile/hero/hero-mobile.jpg");
	background-size: 480px 400px;
	background-repeat: no-repeat;
	background-position: center top;

	@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
		screen and (min-resolution: 192dpi) and (max-width: 767px),
		screen and (min-resolution: 2dppx) and (max-width: 767px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../images/studio/mobile/hero/hero-mobile@2x.jpg");
	}
}

.hero-section__title {
	@include font(26px, 900, 42px);
	max-width: 360px;
	margin: 0 auto;

	color: var(--primary-white-color);
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero-section__button {
	padding: 10px 32px;
	margin-top: 30px;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	transition-property: background-color, box-shadow;

	&:hover,
	&:focus {
		background-color: var(--primary-button-accent-color);
		box-shadow: var(--primary-button-shadow);
	}
}

// 768px +
@media screen and (min-width: 768px) {
	.hero-section {
		max-width: 768px;
		height: 400px;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../images/studio/tablet/hero/hero-tablet.jpg");
		background-size: 768px 400px;
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.hero-section {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../images/studio/tablet/hero/hero-tablet@2x.jpg");
	}
}

// 1200px +
@media screen and (min-width: 1200px) {
	.hero-section {
		max-width: 1600px;
		height: 600px;
		padding: 200px 0;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../images/studio/desktop/hero/hero-desktop.jpg");
		background-size: 1600px 600px;
	}

	.hero-section__title {
		@include font(44px, 900, 60px);
		max-width: 696px;
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.hero-section {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../images/studio/desktop/hero/hero-desktop@2x.jpg");
	}
}
