@media screen and (max-width: 767px) {
	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--primary-white-color);
		z-index: 100;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateX(100%);
		
		transition-property: opasity, visibility, transform;
		
		transition: opasity var(--transition-duration-function), 
		visibility var(--transition-duration-function), 
		transform var(--transition-duration-function);
	}

	.mobile-menu.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
		transform: translateX(0);
	}

	.mobile-menu__container {
		position: relative;
		padding-left: 40px;
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.mobile-menu-close-button {
		position: absolute;
		top: 10px;
		right: 15px;
		padding: 0;
		line-height: 0;
		border: none;
		background-color: transparent;

		transition-property: fill;
		transition: fill var(--transition-duration-function);

		&:hover,
		&:focus {
			fill: var(--accent-color);
		}
	}

	// ========= MOBILE-MENU-NAV=========
	.mobile-menu-nav {
		margin-bottom: 302px;
	}

	.mobile-menu-site-nav__item:not(:last-child) {
		margin-bottom: 32px;
	}

	.mobile-menu-site-nav__link {
		display: block;
		@include font(40px, 500, 47px);
		letter-spacing: 0.02em;
		text-decoration: none;
		color: var(--title-text-color);

		transition-property: color;
		transition: color var(--transition-duration-function);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}

	.mobile-menu-site-nav__link_current {
		color: var(--accent-color);
	}
	// ========= /MOBILE-MENU-SITE-NAV=========


	// ========= MOBILE-MENU-CONTACTS=========
	.mobile-menu-contacts-header {
		margin-bottom: 64px;
	}

	.mobile-menu-contacts-header__item:not(:last-child) {
		margin-bottom: 32px;
	}

	.mobile-menu-contacts-header__button {
		display: block;
		letter-spacing: 0.02em;
		text-decoration: none;
		color: var(--primary-text-color);

		transition-property: color;
		transition: color var(--transition-duration-function);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}

	.mobile-menu-contacts-header__button_tel {
		@include font(34px, 500, 40px);
	}

	.mobile-menu-contacts-header__button_mail {
		@include font(24px, 500, 28px);
	}
	// ========= /MOBILE-MENU-CONTACTS=========


	// ========= MOBILE-MENU-SOCIAL LIST ==========
	.mobile-menu-social-list {
		display: flex;
		line-height: 0;
	}

	.mobile-menu-social-list__item {
		&:not(:last-child) {
			border-right: var(--modal-form-input-and-social-list-border);
		}

		&:first-child {
			margin-left: -10px;
		}
	}

	.mobile-menu-social-list__link {
		@include font(18px, 500, 22px);
		letter-spacing: 0.02em;
		text-decoration: none;
		padding: 10px;
		color: var(--primary-text-color);

		transition-property: color;
		transition: color var(--transition-duration-function);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
	}
}
// ========= /MOBILE-MENU-SOCIAL-LIST ==========

@media screen and (min-width: 768px) {
	.mobile-menu {
		display: none;
	}
}